@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
#about {
  background-color: #0a192f;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  padding-bottom: 70px;
}
.profile_pic {
  margin-right: 30px;
  width: 22%;
  height: 270px;
  border-radius: 5px;
  box-shadow: 15px 17px 0px 2px rgba(0, 201, 170, 1);
}

#about h1 {
  color: #00c9aa;
}
.about_text {
  color: #b1a8b9;
  width: 80%;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  margin: auto;
}

b {
  color: #00c9aa;
}

.skills {
  background-color: #0a192f;
  padding: 5px;
}

.skills span {
  color: #00c9aa;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    font-size: 10px;
  }
  .profile_pic {
    margin: auto;
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .about_text {
    font-size: 12px;
  }
}
