@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
#work {
  background-color: #0a192f;
  font-family: "Rubik", sans-serif;
  padding: 20px;
}

#work h1 {
  color: #00c9aa;
  font-size: 2em;
}

.work_timeline {
  font-family: "Rubik", sans-serif;
}
